@import './imports'


.MainCompetition
  display flex

.CompetitionDescriptor, .TextEditor, .ReactCodeMirror
  width 50% !important

.icons
  cursor pointer
  margin-top 12px
  color white !important

.iconsRight
  margin-right 8px

.Description
  width 100%

.RerunTests
  height 100%

.error
  color red

.CompetitionItem
  text-decoration none
  text-align center

.Confetti
  display none

.WinShare
  display none