.MainCompetition
  display flex

.CompetitionDescriptor, .TextEditor
  width 50% !important

.icons
  cursor pointer
  margin-top 12px
  color white !important

.iconsRight
  margin-right 8px

.RerunTests, .Description
  width 50%

.RerunTests
  height 100%