.CreateCompetition
  display flex

  .Preview, .AllExpects, .CreateCompetitionNameDesc
    padding-left 3%
    padding-right 3%
    width 33.3%

  .Preview, .CreateCompetitionNameDesc
    padding-top 3%
    padding-bottom 3%

  .Expect
    display flex
    width 100%
    padding 10%

  .removeExpect
    cursor pointer
    float right

  .addExpect
    cursor pointer

  .CreateCompetitionNameDesc
    margin-left 3%
    margin-right 1%