@import './imports'

.DashBoardHalf
  width 50% !important
  text-align center
  padding 5%

.DashBoardFlex
  display flex !important

.signoutDashBoard
  cursor pointer
  margin-top: 12px
  color white !important

.DashBoardList
  padding 5% !important
  list-style-type none !important

.RankList
  display flex

.ListTitle
  background-color #FF6F00
  color #FFFFFF