@import './imports'

.Signin
  text-align center
  height 100vh
  background-image url(https://c1.staticflickr.com/4/3233/2937689351_0812b2218b_b.jpg)

.signin-buttons
  align center

.login-btn
  background-color #FFFFFF
  border 2px solid #e7e7e7
  padding 10px 20px
  text-align center
  font-weight bold
  font-size 100%
  transition-duration 0.8s

.login-btn:hover
  background-color #e7e7e7

.boat
  max-width 100%
  padding-top 10%

.headers
  color white