@import './imports'

.Signin
  text-align center
  height 100vh
  background-image linear-gradient(bottom, #4FB5DB 60%, #FFFFFF 40%)
  background-image -o-linear-gradient(bottom, #4FB5DB 60%, #FFFFFF 40%)
  background-image -moz-linear-gradient(bottom, #4FB5DB 60%, #FFFFFF 40%)
  background-image -webkit-linear-gradient(bottom, #4FB5DB 60%, #FFFFFF 40%)
  background-image -ms-linear-gradient(bottom, #4FB5DB 60%, #FFFFFF 40%)

.signin-buttons
  align center

.login-btn
  background-color #FFFFFF
  border 2px solid #e7e7e7
  padding 10px 20px
  text-align center
  font-weight bold
  font-size 100%
  transition-duration 0.8s

.login-btn:hover
  background-color #e7e7e7

.boat
  max-width 100%
  padding-top 120px

.headers
  color white